@* //This project uses Duende Software and parts of their templates (no affiliation with Wrapt or Craftsman).
//Please see the Duende Licensing information at https://duendesoftware.com/
// Copyright (c) Duende Software. All rights reserved.
// See LICENSE in the project root for license information. *@


@model AuthServerWithDomain.ViewModels.LogoutViewModel

<div class="min-h-screen flex sm:items-center justify-center bg-white sm:bg-gray-50 py-12 sm:px-6 lg:px-8">
  <div class="w-full px-4 space-y-8 bg-white rounded-md sm:shadow-md sm:p-12 sm:max-w-md ">
    <div class="">
      <h1 class="font-semibold text-2xl text-gray-900">Logout</h1>
      <p class="text-lg text-gray-900 pt-1">Would you like to logout of IdentityServer?</p>
    </div>

    <form class="" asp-action="Logout">
      <input type="hidden" name="logoutId" value="@Model.LogoutId" />
      <div class="">
        <button class="group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Logout</button>
      </div>
    </form>
  </div>
</div>